*,
::before
::after {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: STSong;
    list-style: none;
}
img {
    max-width: 100%;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}
.header-wrapper {
    height: 150px;
}
.header-icons {
    float: right;
    display: flex;
}
.icons {
    margin: 25px 20px 25px 0;
    opacity: 0.7;
    width: 100px;
}
.icons:hover {
    opacity: 1;
}


.top-wrapper {
    background-color: #D1D1D1;
    padding: 50px 0;
    width: 100%;
    height: 650px;
    border-bottom: 3px solid #a8a8a8;
}

.container {
    max-width: 1280px;
    width: 100%;
    color: #FFFFFF;
    margin: 0 auto;
}
.copy-write {
    padding-top: 90px;
    padding-left: 20px;
    margin: auto 0;
}
.copy-write h1{
    font-size: 100px;
    font-weight: normal;
}

.copy-write p{
    margin-top: -10px;
    font-size: 30px;
}


footer {
    background-color: #D1D1D1;
    padding: 20px 0;
    border-top: 3px solid #c4c4c4;
}

.footer-wrapper {
    padding-left: 20px;
    padding-bottom: 20px;
}
.footer-wrapper h3{
    font-weight: normal;
    font-size: 35px;
}
.footer-wrapper p{
    font-size: 20px;
}

.image-container {
    max-width: 900px;
    margin: 50px auto;
}
.images {
    display: grid;
    grid-template-columns: repeat( 3, 261px);
    grid-template-rows: repeat( 7, 261px);
    column-gap: 18px;
    row-gap: 18px;
}
.gif-container {
    max-width: 600px;
    margin: 50px auto;
    position: relative;
}
.thanks {
    width: 100%;
    text-align: right;
    position: absolute;
    top: 94%;
    font-size: 25px;
    color: #707070;
    margin-bottom: 50px;
}
.back-container {
    padding: 50px 0;
}
.back-to-up {
    width: 200px;
    margin: 0 auto;
}
